(
  style: Some((
    bg_color: Some((0.13, 0.30, 0.36, 1.0)),
    border_color: Some((0.32, 0.63, 0.72, 1.0)),
    border_width: Some(1.5),
    radius: Some(9.0),
  )),
  text: Some((
    color: Some((0.95, 0.99, 1.0, 1.0)),
    size: Some(15.0),
  )),
)
