(
  body: "Scene Manager Demo",
  panel_component: "../components/panel.ron",
  text_component: "../components/text_label.ron",
  primary_button: Some((
    label: "Start",
    component: "../components/button_primary.ron",
    on_click: Some(go_to("game_scene")),
  )),
  secondary_button: Some((
    label: "Settings",
    component: "../components/button_primary.ron",
    on_click: Some(go_to("settings_menu")),
  )),
)
