(
  body: "Paused",
  panel_component: "../components/panel.ron",
  text_component: "../components/text_label.ron",
  primary_button: Some((
    label: "Resume",
    component: "../components/button_primary.ron",
    action: back,
  )),
  secondary_button: Some((
    label: "Main Menu",
    component: "../components/button_primary.ron",
    action: main_menu,
  )),
)
