(
  body: "Paused",
  panel_component: "../components/panel.ron",
  text_component: "../components/text_label.ron",
  primary_button: Some((
    label: "Settings",
    component: "../components/button_primary.ron",
    action: go_to("settings_menu"),
  )),
  secondary_button: Some((
    label: "Main Menu",
    component: "../components/button_primary.ron",
    action: go_to("main_menu"),
  )),
)
